@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

*{
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
   
    font-size: 24px;
    

}

.header {
    background-image: url("../images/apple-pie.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;    
    text-align: center;
    display: flex;
    /* x-axis align */
    align-items: center;
    /* y-axis align */
    justify-content: center;
}

p {
   text-align:start;
  padding-top: 80px;
}

main {
   
    margin: 15px 80px;
    padding: 10px 120px;
}


.header h1 {
   
    color: white;
    position: absolute;
    right: 50%;
    top: 50%;
    font-size: 45px;
    /* padding: 50; */
}

div {
    position: flex;
    justify-content: center;
}
hr{
 width: 100%;
}

h4 {
    font-size: 32px;
    margin: 20px 0;
    /* padding: 10px 120px; */

}

.info-img {
    width: 400px;
    margin: auto;
    display:relative;
    display:block; 
    margin-top: 50px;
}


ul {
    list-style-type:"-";
    /* padding: 10px 120px; */
}


ol {
    /* 1. Remove the default list style */  
    list-style: none;
    /* padding: 10px 120px; */
  }
  
  ol > li {
    /* 2. Create a custom list counter */  
    counter-increment: listcounter;
    margin: 5px 0;
  }
  
  ol > li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ")";
  }